<!DOCTYPE html>
<html >
<head><title>chat</title></head>
<body>


<ul id ="messages"></ul>
<form action="">
  <input id="name" type="text" placeholder="Entre your name">
  <input id="m" autocomplete="off"/><button>Send</button>  </form>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>var socket=io();
  $('form').submit(function () {
socket.emit('chat message',{'msg':$('#m').val(),'user':$('#name').val()});
$('#m').val('');
return false;
  });
  socket.on('chat message',function (msg) {
    $('#messages').append($('<li>').text(msg));

  })
</script>
</body>
</html>